<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Webpage Example</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<div id="app">
    <h1 class="header">To-Do List</h1>
    <input type="text" id="taskInput" placeholder="Add a new task">
    <h1>홍건우{{name}}</h1>
    <button onclick="addText()">Add Task</button>
    <ul id="taskList">
    
    </ul>
    <a href="/host">댓글 페이지로</a>
</div>

<script src="../static/script.js"></script>
</body>
</html>