<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>댓글 달아보자</h1>
    <form action="/host" method="post">
    <input type="text" name = "submit" placeholder="댓글 달아보자" required>
    <button type="submit">Add Comment</button>
    </form>
    
    <h2>댓글 목록</h2>
    <ul>
        {% for comment in comments %}
            <li>{{comment}}</li>
            {%endfor%}
    </ul>
    
</body>
</html>